if fed
  each post in fed
    div(class="divlist3s")
      //- if post.updown === "UP"
      //- div(class="up-down active")
      img(src="/images/folderd.svg", alt="" class="folder")
      //- else 
      //-   div(class="up-down")
      div(class="divlist4")
        a(class="divlist5" href="/posts/findeddd/" + post._id)= post.name
      div(class="divlist4")
      div(class="divlist4")
        a(class="divlist55")= post.adresseip
      div(class="divbutton")
        a(href="/shared/spost/" + post._id) 
          img(src="/images/add2d.svg", alt="" class="add")
        img(src="/images/troisd.svg", alt="" class="buttonmod" posted=post._id postt=post.name)
        img(src="/images/deleted.svg", alt="" class="buttonmlistt" postid=post._id postidd=post.author)

