if finddss 
  each post in finddss
    div(class="divlist3s")
      //- if post.updown === "UP"
      //- div(class="up-down active")
      img(src="/images/folderrrr.png", alt="" class="folder")
      //- else 
      //-   div(class="up-down")
      if editable === false && sfile === false
        div(class="divlist4")
          a(class="divlist5" href="/shared/findfolderniviii/" + post._id)= post.name     
      else 
        div(class="divlist4")
          a(class="divlist5" href="/posts/listfolderiii/" + post._id)= post.name
      div(class="divlist4")
        a(class="divlist54") 1 Mo
      div(class="divlist4")
        a(class="divlist555")= post.date
      div(class="divlist4")
        p(class="divlist5555") FOLDER
      if editable === false && sfile === false
        if findaccessnivi.access === "access"
          div(class="divbutton")
            a(href="/shared/folderrniviii/" + post._id)
              img(src="/images/add2d.svg", alt="" class="addd")
            img(src="/images/troisd.svg", alt="" class="buttonmod" posted=post._id postt=post.name)
            img(src="/images/deleted.svg", alt="" class="buttonmlistt" postid=post._id postidd=post.author)
        else
          div(class="divbutton")
            a(href="#") 
              a(src="", alt="" class="ajout")
            a(src="", alt="" class="del" )
            a(src="", alt="" class="trs")
      if editable === true && finddss && niv === "1"
        div(class="divbutton")
          a( href="/posts/createlistniviii/" + post._id) 
            img(src="/images/add2d.svg", alt="" class="addd")
          a(href="/posts/modfoldernivii/" + post._id) 
            img(src="/images/troisd.svg", alt="" class="buttonmod")
          img(src="/images/deleted.svg", alt="" class="delfoldernivii" postid=post._id postidd=post.author)
if awaitcommfindd
  form(class="divlist3ss" method="post" action="/shared/awaitcommande/" + "684b8a55ab41d7225206b9ad" )
    if awaitcommm 
      each post in awaitcommm 
        if post.username === currentUser.username
          div(class="divlist3sw")
            if editable === false && findfoldernivzero === false
              div(class="divlist4r")
                if nivi
                  input(class="divlist5aw" type="text" value=nivi)
                  input(class="inputprix" type="text" value=nivi name="title")
                if nivii
                  input(class="divlist5aw" type="text" value=nivii)
                  input(class="inputprix" type="text" value=nivii name="title")
                if niviii
                  input(class="divlist5aw" type="text" value=niviii)
                  input(class="inputprix" type="text" value=niviii name="title")
                if niviiii
                  input(class="divlist5aw" type="text" value=niviiii)
                  input(class="inputprix" type="text" value=niviii name="title")
                if niviiiii
                  input(class="divlist5aw" type="text" value=niviiiii)
                  input(class="inputprix" type="text" value=niviiiii name="title")
            else 
              div(class="divlist4")
                input(class="divlist5a" type="text" value=post.title)
                input(class="inputprix" type="text" value=post.title name="title")
            div(class="divlist4r")
              if prixi
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555r")= prixi
              if prixii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555r")= prixii
              if prixiii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555r")= prixiii
              if prixiiii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555r")= prixiiii
              if prixiiiii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555r")= prixiiiii
            div(class="divlist4r")
              if quanti
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555rr")= quanti + " pièces"
              if quantii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555rr")= quantii + " pièces"
              if quantiii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555rr")= quantiii + " pièces"
              if quantiiii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555rr")= quantiiii + " pièces"
              if quantiiiii
                input(class="inputprix" type="text" value=post.result name="result")
                p(class="divlist555rr")= quantiiiii + " pièces"
            div(class="divlist4r")
              if formati
                input(class="inputprix" type="text" value=post.format name="format")
                p(class="divlist555rrr")= formati
              if formatii
                input(class="inputprix" type="text" value=post.format name="format")
                p(class="divlist555rrr")= formatii
              if formatiii
                input(class="inputprix" type="text" value=post.format name="format")
                p(class="divlist555rrr")= formatiii
              if formatiiii
                input(class="inputprix" type="text" value=post.format name="format")
                p(class="divlist555rrr")= formatiiii
              if formatiiiii
                input(class="inputprix" type="text" value=post.format name="format")
                p(class="divlist555rrr")= formatiiiii
    if result 
      each post in awaitcommm 
        if post.username === currentUser.username
          div(class="divlist3snw")
            div(class="divlist4")
              input(class="divlist5a" type="text" value="TOTAL")
            div(class="divlist4")
              if awaitcommm 
                each post in awaitcommm
                  p(class="divlist555mm")= post.total
            div(class="divlist4")
              if awaitcommm 
                each post in awaitcommm
                  p(class="divlist555mm")= post.quant
    if resultatttt 
      each post in awaitcommm
        if post.username === currentUser.username
          div(class="divlist3dl")
            div(class="parttwo")
              div(class="divlist4se")
                input(class="divlist5al" type="text" value="EXPÉDITION" name="exp")
              div(class="divlist4j")
                input(class="divlist544avw" placeholder="ÎLES" name="ile" value=post.ile)
              div(class="divlist4j")
                input(class="divlist544avw" placeholder="NOM" name="nom" value=post.nom)
              div(class="divlist4l")
                if post.bateau === "on"
                  input(class="divlist5app" type="checkbox" id="bateau" name="bateau" checked) 
                  label(for="bateau" class="labelii") BATEAU
                else 
                  input(class="divlist5app" type="checkbox" id="bateau" name="bateau") 
                  label(for="bateau" class="labelii") BATEAU
                if post.avion === "on"
                  input(class="divlist5app" type="checkbox" id="avion" name="avion" checked) 
                  label(for="avion" class="labelii") AVION
                else 
                  input(class="divlist5app" type="checkbox" id="avion" name="avion" ) 
                  label(for="avion" class="labelii") AVION
              div(class="divlist4j")
                input(class="divlist544avvv" type="date" name="date" value=post.date)
              div(class="divbuttonn")
                if post.status === "en attente..."
                  input(class="inputadddd" type="submit" value="en attente...")
                if post.status === "en cours..."
                  input(class="inputadddd" type="submit" value="en cours...")
                if post.status === "terminé..."
                  input(class="inputadddds" type="submit" value="terminé...")
                if post.status === "expédition..."
                  input(class="inputadddds" type="submit" value="expédition...")
                if post.status === "livrée ..."
                  input(class="inputaddddss" type="submit" value="livrée ...")
    if awaitcommm 
      each post in awaitcommm
        if post.username === currentUser.username       
          div(class="divlist3stt")
            div(class="parttwo")
              div(class="divlist4z")
                p(class="divlist555rl") nom 
                p(class="divlist5d")= post.nom
              div(class="divlist4z")
                p(class="divlist555rl") prénom
                p(class="divlist5d")= post.username
              div(class="divlist4z")
                p(class="divlist555rl") téléphone
                p(class="divlist5d")= post.tel
              div(class="divlist4zz")
                p(class="divlist555rl") mail
                p(class="divlist5c")= post.email
if awaitcommfindd && currentUser.username === "administrateur"
  div(class="divlist3ss")
    if awaitcommm 
      each post in awaitcommm 
        div(class="divlist3sw")
          if post.title === "TORTUE"
            img(src="/images/tortue-6.png", alt="" class="folder")
          if post.title === "BALEINE"
            img(src="/images/baleine.png", alt="" class="folder")
          if post.title === "RAIE"
            img(src="/images/raie.png", alt="" class="folder")
          if post.title === "TIKI"
            img(src="/images/tiki-6.png", alt="" class="folder")
          if editable === false && findfoldernivzero === false
            div(class="divlist4r")
              if nivi
                input(class="divlist5aw" type="text" value=nivi)
                input(class="inputprix" type="text" value=nivi name="title")
              if nivii
                input(class="divlist5aw" type="text" value=nivii)
                input(class="inputprix" type="text" value=nivii name="title")
              if niviii
                input(class="divlist5aw" type="text" value=niviii)
                input(class="inputprix" type="text" value=niviii name="title")
              if niviiii
                input(class="divlist5aw" type="text" value=niviiii)
                input(class="inputprix" type="text" value=niviii name="title")
              if niviiiii
                input(class="divlist5aw" type="text" value=niviiiii)
                input(class="inputprix" type="text" value=niviiiii name="title")
          else 
            div(class="divlist4")
              input(class="divlist5a" type="text" value=post.title)
              input(class="inputprix" type="text" value=post.title name="title")
          div(class="divlist4r")
            if prixi
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555r")= prixi
            if prixii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555r")= prixii
            if prixiii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555r")= prixiii
            if prixiiii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555r")= prixiiii
            if prixiiiii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555r")= prixiiiii
          div(class="divlist4r")
            if quanti
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555rr")= quanti + " pièces"
            if quantii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555rr")= quantii + " pièces"
            if quantiii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555rr")= quantiii + " pièces"
            if quantiiii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555rr")= quantiiii + " pièces"
            if quantiiiii
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555rr")= quantiiiii + " pièces"
          div(class="divlist4r")
            if formati
              input(class="inputprix" type="text" value=post.format name="format")
              p(class="divlist555rrr")= formati
            if formatii
              input(class="inputprix" type="text" value=post.format name="format")
              p(class="divlist555rrr")= formatii
            if formatiii
              input(class="inputprix" type="text" value=post.format name="format")
              p(class="divlist555rrr")= formatiii
            if formatiiii
              input(class="inputprix" type="text" value=post.format name="format")
              p(class="divlist555rrr")= formatiiii
            if formatiiiii
              input(class="inputprix" type="text" value=post.format name="format")
              p(class="divlist555rrr")= formatiiiii
    if result 
      div(class="divlist3s")
        div(class="divlist4")
          input(class="divlist5a" type="text" value="TOTAL")
        div(class="divlist4")
          if awaitcommm 
            each post in awaitcommm
              p(class="divlist555mm")= post.total
        div(class="divlist4")
          if awaitcommm 
            each post in awaitcommm
              p(class="divlist555mm")= post.quant
        div(class="divlist4")
          p(class="divlist555")
    if resultatttt 
      each post in awaitcommm
        div(class="divlist3s")
          div(class="divlist4")
            input(class="divlist5a" type="text" value="EXPÉDITION" name="exp")
          div(class="divlist4")
            input(class="divlist544avw" placeholder="ÎLES" name="ile" value=post.ile)
          div(class="divlist4")
            input(class="divlist544avw" placeholder="NOM" name="nom" value=post.nom)
          div(class="divlist4l")
            if post.bateau === "on"
              input(class="divlist5app" type="checkbox" id="bateau" name="bateau" checked) 
            else 
              input(class="divlist5app" type="checkbox" id="bateau" name="bateau") 
            label(for="bateau" class="labelii") BATEAU
            if post.avion === "on"
              input(class="divlist5app" type="checkbox" id="avion" name="avion" checked) 
            else 
              input(class="divlist5app" type="checkbox" id="avion" name="avion" ) 
            label(for="avion" class="labelii") AVION
          div(class="divlist4")
            input(class="divlist544avvv" type="date" name="date" value=post.date)
          div(class="divbuttonn")
            if post.status === "en attente..."
              input(class="inputadddd" type="submit" value="en attente...")
            if post.status === "en cours..."
              input(class="inputadddd" type="submit" value="en cours...")
            if post.status === "terminé..."
              input(class="inputadddds" type="submit" value="terminé...")
            if post.status === "expédition..."
              input(class="inputadddds" type="submit" value="expédition...")
            if post.status === "livrée ..."
              input(class="inputaddddss" type="submit" value="livrée ...")
    if awaitcommm 
      each post in awaitcommm       
        div(class="divlist3st")
          div(class="divlist4z")
            p(class="divlist555rl") nom 
            p(class="divlist5d")= post.nom
          div(class="divlist4z")
            p(class="divlist555rl") prénom
            p(class="divlist5d")= post.username
          div(class="divlist4z")
            p(class="divlist555rl") téléphone
            p(class="divlist5d")= post.tel
          div(class="divlist4zz")
            p(class="divlist555rl") mail
            p(class="divlist5c")= post.email
    if awaitcommm 
      each post in awaitcommm 
        form(class="divlist3ss" method="post" action="/shared/status/" + post._id)      
          div(class="divlist3st")
            div(class="divlist4zd")
              input(class="divlist5appp" type="checkbox" id="enattente" name="enattente" ) 
              label(for="enattente" class="labelii") en attente
            div(class="divlist4zd")
              input(class="divlist5appp" type="checkbox" id="encours" name="encours" ) 
              label(for="encours" class="labelii") en cours
            div(class="divlist4zd")
              input(class="divlist5appp" type="checkbox" id="terminer" name="terminer" ) 
              label(for="terminer" class="labelii") terminé
            div(class="divlist4zzd")
              input(class="divlist5appp" type="checkbox" id="expedition" name="expedition" ) 
              label(for="expedition" class="labelii") expédition
            div(class="divlist4zzd")
              input(class="divlist5appp" type="checkbox" id="livrer" name="livrer" ) 
              label(for="livrer" class="labelii") livrée
            div(class="divbuttonn")
              input(class="inputaddddd" type="submit" value="valider" ) 
      
if findd 
  each post in findd
    div(class="divlist3s")
      //- if post.updown === "UP"
      if post.type === "application/pdf"
        img(src="/images/pdfv.png", alt="" class="folder")
      else
        img(src="/images/pdfvv.png", alt="" class="folder")
      //- else 
      //-   div(class="up-down")
      div(class="divlist4")
        a(class="divlist5s" href="/posts/modal/" + post._id)= post.name
      div(class="divlist4")
        a(class="divlist54")= post.size 
      div(class="divlist4")
        p(class="divlist555")= post.date
      if post.type === "application/pdf"
        div(class="divlist4")
          p(class="divlist5555") format PDF
      else 
        div(class="divlist4")
          p(class="divlist5555") format DOCX
      if editable === false && findd
        div(class="divbutton")
          a(src="", alt="" class="del" )
          a(src="", alt="" class="trs")
          a(href=`/upload/${post.addfile}` download)
            img(src="/images/download.svg" class="addd") 
      else
        div(class="divbutton")
          a(href=`/upload/${post.addfile}` download)
            img(src="/images/download.svg" class="addd") 
          a(href="/posts/msfile/" + post._id) 
            img(src="/images/troisd.svg", alt="" class="trois")
          img(src="/images/deleted.svg", alt="" class="deletesfile" postid=post._id postidd=post.author)

