if find 
  each post in find
    form(class="divlist3s" method="post" action="/shared/createpanier/" + "684b0f6b4205045b1df1d6da" )
      //- if post.updown === "UP"
      //- div(class="up-down active")
      if post.name === "TORTUE"
        img(src="/images/tortue-6.png", alt="" class="folderd")
      if post.name === "BALEINE"
        img(src="/images/baleine.png", alt="" class="folderd")
      if post.name === "RAIE"
        img(src="/images/raie.png", alt="" class="folderd")
      if post.name === "TIKI"
        img(src="/images/tiki-6.png", alt="" class="folderd")
      //- else 
      //-   div(class="up-down")
      div(class="partone")
        div(class="divlist4n") 
          p(class="product") nom :
        div(class="divlist4n")   
          p(class="product") prix :
        div(class="divlist4n")  
          p(class="product") quant :
        div(class="divlist4n") 
          p(class="product") format :
        div(class="divlist4") 
          p(class="product")
      div(class="parttwo")
        if editable === false && findfoldernivzero === false
          div(class="divlist4")
          input(class="divlist5a" type="text" value=post.name name="title")  
        else 
          div(class="divlist4")
          input(class="divlist5a" type="text" value=post.name name="title") 
        div(class="divlist4")
          if post.name === "TORTUE"
            input(class="inputprix" type="text" name="prix" value="1000")
            p(class="divlist555") 1000 F
          if post.name === "BALEINE"
            input(class="inputprix" type="text" name="prix" value="2000")
            p(class="divlist555") 2000 F
          if post.name === "RAIE"
            input(class="inputprix" type="text" name="prix" value="2000")
            p(class="divlist555") 2000 F
          if post.name === "TIKI"
            input(class="inputprix" type="text" name="prix" value="1500")
            p(class="divlist555") 1500 F
        div(class="divlist4")
          input(class="divlist544" value="0" type="text" name="quantité")
        div(class="divlist4")
          input(class="inputprix" type="text" value="10x15cm" name="format")
          p(class="divlist55555") 10x15cm
        //- if editable === false && findfoldernivzero === false
        //-   div(class="divbutton")
        //-     a(href="#") 
        //-       a(src="", alt="" class="ajout")
          //-     a(src="", alt="" class="del" )
          //-     a(src="", alt="" class="trs")
         //- else
          //-   div(class="divbutton")
          //-     a( href="/posts/spost/" + post._id) 
          //-       img(src="/images/add2d.svg", alt="" class="addd")
          //-     img(src="/images/troisd.svg", alt="" class="buttonmod" posted=post._id postt=post.name)
          //-     img(src="/images/deleted.svg", alt="" class="buttonmlistt" postid=post._id postidd=post.author)
        if editable === false && nivuser === "0" 
          div(class="divbuttonn")
            input(class="inputadd" type="submit" value="ajouter")
      if editable === true && find && niv === "0"
        div(class="divbutton")
            a(href="/posts/foldernivii/" + post._id)
              img(src="/images/add2d.svg", alt="" class="addd")
            img(src="/images/troisd.svg", alt="" class="buttonmod" posted=post._id postt=post.name)
            img(src="/images/deleted.svg", alt="" class="buttonmlistt" postid=post._id postidd=post.author)
if awaitcommfind 
  form(class="divlist3ss")
    if awaitcomm 
      each post in awaitcomm 
        if post.username === currentUser.username
          div(class="divlist3sc")
            div(class="parttwo")
              div(class="divlist4lr" id="tested")
                a(class="divlist5" href="/shared/findawaitcommm/" + post._id)= post.commandename
              div(class="divlist4llrr")
                p(class="divlist555sr")= post.datered
              div(class="divlist4llrr")
                if post.status === "en attente..."
                  p(class="divlist555lm") commande en attente 
                if post.status === "en cours..."
                  p(class="divlist555lm") en cours de préparation 
                if post.status === "terminé..."
                  p(class="divlist555lmm") commande terminé
                if post.status === "expédition..."
                  p(class="divlist555lmm") commande en expédition 
                if post.status === "livrée ..."
                  p(class="divlist555lmmm") commande livrée 
              div(class="divlist4llr")
                p(class="divlist555")= post.username
if awaitcommfind && currentUser.username === "administrateur"
  form(class="divlist3ss")
    if awaitcomm 
      each post in awaitcomm 
        div(class="divlist3sc")
          img(src="/images/folderrrr.png", alt="" class="folder")
          div(class="divlist4l" id="tested")
            a(class="divlist5" href="/shared/findawaitcommm/" + post._id)= post.commandename
          div(class="divlist4ll")
            p(class="divlist555sr")= post.datered
          div(class="divlist4ll")
            if post.status === "en attente..."
              p(class="divlist555lm") commande en attente 
            if post.status === "en cours..."
              p(class="divlist555lm") en cours de préparation 
            if post.status === "terminé..."
              p(class="divlist555lmm") commande terminé
            if post.status === "expédition..."
              p(class="divlist555lmm") commande en expédition 
            if post.status === "livrée ..."
              p(class="divlist555lmmm") commande livrée 
          div(class="divlist4ll")
            p(class="divlist555")= post.username
          div(class="divlist4l")
            p(class="divlist555")
if panierlock
  form(class="divlist3ss" method="post" action="/shared/awaitcommande/" + "684b8a55ab41d7225206b9ad" )
    if panier 
      each post in panier 
        if post.username === currentUser.username
          div(class="divlist3sn")
            if post.title === "TORTUE"
              img(src="/images/tortue-6.png", alt="" class="folderrd")
            if post.title === "BALEINE"
              img(src="/images/baleine.png", alt="" class="folderrd")
            if post.title === "RAIE"
              img(src="/images/raie.png", alt="" class="folderrd")
            if post.title === "TIKI"
              img(src="/images/tiki-6.png", alt="" class="folderrd")
            if editable === false && findfoldernivzero === false
              div(class="divlist4")
                input(class="divlist5a" type="text" value=post.title)
                input(class="inputprix" type="text" value=post.title name="title")
            else 
              div(class="divlist4")
                input(class="divlist5a" type="text" value=post.title)
                input(class="inputprix" type="text" value=post.title name="title")
            div(class="divlist4")
              input(class="inputprix" type="text" value=post.result name="result")
              p(class="divlist555")= post.result
            div(class="divlist4")
              input(class="divlist544a" value=post.quantité type="text" name="quantiter")
            div(class="divlist4")
              input(class="inputprix" value=post.format type="text" name="format")
              p(class="divlist55555")= post.format   
    if result 
      div(class="divlist3sn")
        div(class="divlist4")
          input(class="divlist5a" type="text" value="TOTAL")
        div(class="divlist4")
          input(class="inputprix" type="text" value=resultat name="total")
          p(class="divlist555m")= resultat
        div(class="divlist4")
          input(class="inputprix" type="text" value=resultatttt name="quant")
          p(class="divlist555l")= resultatttt 
    if panier  
      div(class="divlist3sn")
        div(class="divlist4")
          input(class="divlist5af" type="text" placeholder="nom de la commande" name="commandename")
    if resultatttt 
      div(class="divlist3dl")
        div(class="parttwo")
          div(class="divlist4se")
            input(class="divlist5ay" type="text" value="EXPÉDITION" name="exp")
          div(class="divlist4j")
            input(class="divlist544av" placeholder="ÎLES" name="ile")
          div(class="divlist4j")
            input(class="divlist544av" placeholder="NOM" name="nom")
          div(class="divlist4l")
            input(class="divlist5ap" type="checkbox" id="bateau" name="bateau") 
            label(for="bateau" class="labeli") BATEAU
            input(class="divlist5ap" type="checkbox" id="avion" name="avion") 
            label(for="avion" class="labeli") AVION
          div(class="divlist4j")
            input(class="divlist544avv" type="date" name="date")
          div(class="divbuttonn")
            input(class="inputaddd" type="submit" value="commander")

if findds 
  each post in findds
    div(class="divlist3s")
      //- if post.updown === "UP"
      if post.type === "application/pdf"
        img(src="/images/pdfv.png", alt="" class="folder")
      else
        img(src="/images/pdfvv.png", alt="" class="folder")
      //- else 
      //-   div(class="up-down")
      div(class="divlist4")
        a(class="divlist5s" href="/posts/modall/" + post._id)= post.name
      div(class="divlist4")
        a(class="divlist54")= post.size 
      div(class="divlist4")
        p(class="divlist555")= post.date
      if post.type === "application/pdf"
        div(class="divlist4")
          p(class="divlist5555") format PDF
      else 
        div(class="divlist4")
          p(class="divlist5555") format DOCX
      if editable === false && nivuser === "0"
        each post in content 
          if findaccessnivzero.access === "access"
            div(class="divbutton")
              a( href=`/upload/${post.addfiles}` download)
                img(src="/images/download.svg" class="addd") 
              a(href="/posts/msfiles/" + post._id) 
                img(src="/images/troisd.svg", alt="" class="trois")
              img(src="/images/deleted.svg", alt="" class="deletesfiles" postid=post._id postidd=post.author)
          else 
            div(class="divbutton")
              a(src="", alt="" class="del" )
              a(src="", alt="" class="trs")
              a( href=`/upload/${post.addfiles}` download)
                img(src="/images/download.svg" class="addd") 
      if editable === true && find && niv === "0"
        div(class="divbutton")
          a( href=`/upload/${post.addfiles}` download)
            img(src="/images/download.svg" class="addd") 
          a(href="/posts/msfiles/" + post._id) 
            img(src="/images/troisd.svg", alt="" class="trois")
          img(src="/images/deleted.svg", alt="" class="deletesfiles" postid=post._id postidd=post.author)


