if find 
  each post in find
    div(class="divlist3s")
      //- if post.updown === "UP"
      //- div(class="up-down active")
      img(src="/images/folderrrr.png", alt="" class="folder")
      //- else 
      //-   div(class="up-down")
      if editable === false && findfoldernivzero === false
        div(class="divlist4")
          a(class="divlist5" href="/users/sposts/" + post._id)= post.name   
      else 
        div(class="divlist4")
          a(class="divlist5" href="/posts/findeddd/" + post._id)= post.name
      div(class="divlist4")
        a(class="divlist54") 1 Mo
      div(class="divlist4")
        a(class="divlist555")= post.date
      div(class="divlist4")
        p(class="divlist5555") FOLDER
      //- if editable === false && findfoldernivzero === false
      //-   div(class="divbutton")
      //-     a(href="#") 
      //-       a(src="", alt="" class="ajout")
      //-     a(src="", alt="" class="del" )
      //-     a(src="", alt="" class="trs")
      //- else
      //-   div(class="divbutton")
      //-     a( href="/posts/spost/" + post._id) 
      //-       img(src="/images/add2d.svg", alt="" class="addd")
      //-     img(src="/images/troisd.svg", alt="" class="buttonmod" posted=post._id postt=post.name)
      //-     img(src="/images/deleted.svg", alt="" class="buttonmlistt" postid=post._id postidd=post.author)
      if editable === false 
        div(class="divbutton")
          a(href="#") 
            a(src="", alt="" class="ajout")
          a(src="", alt="" class="del" )
          a(src="", alt="" class="trs")
      if editable === true && find && niv === "0"
        div(class="divbutton")
            a( href="/posts/spost/" + post._id) 
              img(src="/images/add2d.svg", alt="" class="addd")
            img(src="/images/troisd.svg", alt="" class="buttonmod" posted=post._id postt=post.name)
            img(src="/images/deleted.svg", alt="" class="buttonmlistt" postid=post._id postidd=post.author)

if findds 
  each post in findds
    div(class="divlist3s")
      //- if post.updown === "UP"
      if post.type === "application/pdf"
        img(src="/images/pdfv.png", alt="" class="folder")
      else
        img(src="/images/pdfvv.png", alt="" class="folder")
      //- else 
      //-   div(class="up-down")
      div(class="divlist4")
        a(class="divlist5s" href="/posts/modall/" + post._id)= post.name
      div(class="divlist4")
        a(class="divlist54")= post.size 
      div(class="divlist4")
        p(class="divlist555")= post.date
      if post.type === "application/pdf"
        div(class="divlist4")
          p(class="divlist5555") format PDF
      else 
        div(class="divlist4")
          p(class="divlist5555") format DOCX
      if editable === false && findfoldernivzero === false
        div(class="divbutton")
          a(src="", alt="" class="del" )
          a(src="", alt="" class="trs")
          a( href=`/upload/${post.addfiles}` download)
            img(src="/images/download.svg" class="addd") 
      else
        div(class="divbutton")
          a( href=`/upload/${post.addfiles}` download)
            img(src="/images/download.svg" class="addd") 
          a(href="/posts/msfiles/" + post._id) 
            img(src="/images/troisd.svg", alt="" class="trois")
          img(src="/images/deleted.svg", alt="" class="deletesfiles" postid=post._id postidd=post.author)


