extends ../layoutc.pug

block content
  div(class="divlist1")
    div(class="divlistm1")
      div(class="folder-container")
        if content && find && findds && editable === true
          each post in content    
            a(class='content')= post.content
            div(class='loadnivi')
              div(class='loadernivi')
            //- div(class="divniv")
            //-   p(class="nivp")= post.niv 
            //- if findaccessnivzero.access === "access"
            //-   a(href="#" class='locker')
            //-     img(src="/images/lockeradd.svg", alt="")
            //- if findaccessnivzero.access === "default"
            //-   a(href="#" class='lockerr')
            //-     a(href="#") 
            a(href="/posts/neww/" + post._id class="filed")
              img(src="/images/folderd.svg", alt="" class="addded")
            a(href="/posts/showmodal/" + post._id class="filed") 
              img(src="/images/filed.svg", alt="" class="addd")
        if folderr 
          h3(class='content') D O S S I E R
          div(class='loadered')
            div(class='loader')
        if folder
          h3(class='content') D O S S I E R
          div(class='loadered')
            div(class='loader')
          a(href="/posts/new/" class="foldera")
            img(src="/images/folderd.svg", alt="" class="adddedd")
        if users 
          h4(class='content') P A R T A G E
          div(class='loadered')
            div(class='loader')
          img(src="/images/foldershared.svg", alt="" class="adddeddd")
        if content && editable === true && finddss
          each post in content   
            a(class='contentt' href="/posts/finded/" + post.author)= post.name
            div(class='loadnivi')
              div(class='loadernivi')
            //- div(class="divniv")
            //-   p(class="nivp")= post.niv 
            a(href="/posts/foldernivii/" + post._id class="filed")
              img(src="/images/folderd.svg", alt="" class="addded")
            a(href="/posts/spost/" + post._id class="filed") 
              img(src="/images/filed.svg", alt="" class="addd")
        if content && editable === true && listfolderiii
          each post in content   
            a(class='contentt' href="/posts/findeddd/" + post.author)= post.name
            div(class='loadnivi')
              div(class='loadernivi')
            //- div(class="divniv")
            //-   p(class="nivp")= post.niv 
            a( href="/posts/createlistniviii/" + post._id class="filed") 
              img(src="/images/folderd.svg", alt="" class="addded")
            a(href="/posts/createfileniviii/" + post._id class="filed") 
              img(src="/images/filed.svg", alt="" class="addd")
        if editable === false && nivuser === "0"
          each post in content 
            a(class='contentt')= post.content
            div(class='loadnivi')
              div(class='loadernivi')
            //- div(class="divniv")
            //-   p(class="nivp")= post.niv 
            if findaccessnivzero.access === "access"
              a(href="/posts/foldernivii/" + post._id class="filed")
                img(src="/images/folderd.svg", alt="" class="addded")
              a(href="/posts/spost/" + postId class="aded")
                img(src="/images/filed.svg", alt="" class="addd")
            if findaccessnivzero.access === "default"
              a(href="#" class="filed")
                a(href="#" class="addded")
              a(href="#" class="aded")
                a(href="#" class="addd")
        if content && nivuser === "1" && editable === false && findaccessnivi
          each post in content 
            a(class='contentt' href="/users/spost/" + post.author)= post.name
            div(class='loadnivi')
              div(class='loadernivi')
            //- div(class="divniv")
            //-   p(class="nivp")= post.niv 
            if findaccessnivi.access === "access"
              a(href="/posts/foldernivii/" + post._id class="filed")
                img(src="/images/folderd.svg", alt="" class="addded")
              a(href="/posts/spost/" + postId class="aded")
                img(src="/images/filed.svg", alt="" class="addd")
            if findaccessnivi.access === "default"
              a(href="#" class="filed")
                a(href="#" class="addded")
              a(href="#" class="aded")
                a(href="#" class="addd")
        if content && listniviii === false
          each post in content 
            a(class='contentt' href="/users/sposts/" + post.author)= post.name
            div(class='loadnivi')
              div(class='loadernivi')
            //- div(class="divniv")
            //-   p(class="nivp")= post.niv 
            a(href="/posts/foldernivii/" + post._id class="filed")
              img(src="/images/folderd.svg", alt="" class="addded")
            a(href="/posts/spost/" + postId class="aded")
              img(src="/images/filed.svg", alt="" class="addd")
        //- if postId
        //-   a(href="/posts/spost/" + postId class="aded")
        //-     img(src="/images/add2d.svg", alt="" class="addd")
        //-   img(src="/images/chevrons.svg", alt="" class="chevron-left")
        //-   img(src="/images/chevron.svg", alt="" class="chevron-right")
      div(class="divlist2 text" id="postlistcontainer") 
        include post-list.pug
        //- include post-formmmm.pug 
        div(class="reloader")
          div(class="loadereded")
    div(class="divlistm2")
      div(class="profile-containerr")
        include ../includes/name.pug
      div(class="divlist2v2 text" id="postlistcontainerr")
        include list-server.pug 
        include listserverII.pug
        include listserverIII.pug

        //- div(class="showmodal")
        //-   div(class="divmodall")
        //-     a(href="/posts/neww/" + postIdFileFolderPostList)
        //-       img(src="/images/folderd.svg", alt="")
        //-         p dossier
           div(class="divmodal")
              a(href="/posts/showmodal/" + postIdFileFolderPostList) 
                img(src="/images/filed.svg", alt="")
              p fichier
        div(class="reload")
          div(class="loadereded")
        div(class="reloade")
