extends ../layoutch.pug 

block content 
  div(class="divmform")
    div(class="divc1form")
      include ../includes/create
    div(class="divc2formuser")
      form(class="formmuser" method="post" action= "/posts/updatee/" + modifi._id) 
        div(class="divc3formuser") 
          div(class="divc4formuser")
            textarea(class="textarea" type="text" name="name" placeholder="Name")= modifi.name
          div(class="divc4formuser")
            textarea(class="textarea" type="text" name="adresseip" placeholder="Liens vers")= modifi.adresseip
          div(class="divc4formuser")
            textarea(class="textarea" type="text" name="redirect" placeholder="Redirection")= modifi.redirect
          div(class="divc4formuser")
            textarea(class="textarea" type="text" name="updown" placeholder="Up Down")= modifi.updown
          div(class="divc5form") 
            input(type="submit" value="Valider" class="inputmform" id="inpt")
            div(class="loaderr")
            if errorsss
              ul(class="ulerrorform")
                each error in errorsss
                  li(class="lierrorform")= error